



<header>
  <div class="sticky-top d-flex align-content-center" style="background-color:transparent;">
    <a href="" class="active nav-link text-white">
      <h1 class="styling">Nutrition<span class="company">X</span></h1>
    </a>
    <ul class="align-content-center container nav nav-pills justify-content-end">
      <li class="nav-item"><a class=" text-white"  routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>Login
        </a>
      </li>
      <li class="nav-item"><a class="text-white" routerLink="/register">Register
        </a>
      </li>
      <!-- <li class="nav-item ">
        <a class="nav-link" routerLink="/wishlist">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Join Us</a>
      </li> -->
    </ul>
  </div>
</header>

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="#">  Nutritionix  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/wishlist']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Join Us</a>
        </li>
      </ul>
    </div>
  </div>	
  </nav> -->

  


<router-outlet></router-outlet>


<br><br><br><br><br><br><br><br>


<footer class="bg-success text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-dark" href="#"><span class="company">Nutrition<b>X </b></span> made by S.Pani</a>
  </div>
  <!-- Copyright -->
</footer>