
.icon{
    background-image: url('src\assets\nutritionbackground-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
.welcome{  
    text-align: center;
    color: rgb(19, 40, 22);
} 

.company {
    color: orange;
}